📦 Requirements
All Python packages used:

makefile
Copy
Edit
yfinance
pandas
numpy
ta==0.11.0
tensorflow
scikit-learn
matplotlib
mplfinance
transformers
torch
newspaper3k
beautifulsoup4
requests
opencv-python